<p>
<strong>Director:<br>
</strong>Joseph P. McLaughlin, Jr.<br>
840 Anderson Hall<br>
<a href="mailto:jmclau@temple.edu">jmclau@temple.edu</a></p>
<hr>
<p>
<strong>Associate Director:<br>
</strong>Michelle J. Atherton<br>
840 Anderson Hall<br>
<a href="tel:2152049074">(215) 204-9074</a><br>
<a href="mailto:mjather@temple.edu">mjather@temple.edu</a></p>
<hr>
<p><strong>Upcoming Information Session</strong><br>
<a href="https://events.temple.edu/washington-dc-semester-and-pa-capital-semester-info-session-0">Washington and PA Information Session</a></p>
